 name: Continuous Integration
 
 on:
   push:
     branches:
     - '*'
   pull_request:
     branches:
     - '*'
   #schedule:
   #  - cron: '59 23 * * *'
   workflow_dispatch:
     inputs:
       version:
         description: Manual Unittest Run
         default: test
         required: false

 jobs:
   unittests:
     env:
       RUN_TEST: pytest -v spreg -n auto --cov=spreg --cov-report=xml --color yes --cov-append --cov-report term-missing
       ############################################## replace above with this chunk when docstring testing gets worked out
       #RUN_TEST: pytest -v spreg -n auto --cov=spreg --doctest-modules --cov-report=xml --color yes --cov-append --cov-report term-missing
       ##############################################
     name: ${{ matrix.os }}, ${{ matrix.environment-file }}
     runs-on: ${{ matrix.os }}
     timeout-minutes: 30
     strategy:
       matrix:
         os: [ubuntu-latest]
         environment-file:
           - ci/39-latest.yaml
           - ci/310-min.yaml
           - ci/310-latest.yaml
           - ci/311-latest.yaml
           - ci/312-latest.yaml
           - ci/312-dev.yaml
         include:
           - environment-file: ci/312-latest.yaml
             os: macos-13 # Intel
           - environment-file: ci/312-latest.yaml
             os: macos-14 # Apple Silicon
           - environment-file: ci/312-latest.yaml
             os: windows-latest
       fail-fast: false

     defaults:
       run:
         shell: bash -l {0}

     steps:
     
       - name: checkout repo
         uses: actions/checkout@v4
         with:
           fetch-depth: 0 # Fetch all history for all branches and tags.
       
       - name: setup micromamba
         uses: mamba-org/setup-micromamba@v1
         with:
           environment-file: ${{ matrix.environment-file }}
           micromamba-version: 'latest'
       
       - name: run tests
         run: ${{ env.RUN_TEST }}
       
       - name: codecov
         uses: codecov/codecov-action@v4
         with:
           token: ${{ secrets.CODECOV_TOKEN }}
           file: ./coverage.xml
           name: spreg-codecov
