 name: Continuous Integration
 
 on:
   push:
     branches:
     - '*'
   pull_request:
     branches:
     - '*'
   schedule:
     - cron: '59 23 * * *'
   workflow_dispatch:
     inputs:
       version:
         description: Manual Unittest Run
         default: test
         required: false

 jobs:
   unittests:
     env:
       RUN_TEST: pytest -v spreg -n auto --cov=spreg --cov-config=.coveragerc --cov-report=xml --color yes --cov-append --cov-report term-missing
       ############################################## replace above with this chunk when docstring testing gets worked out
       #RUN_TEST: pytest -v spreg -n auto --cov=spreg --doctest-modules --cov-config=.coveragerc --cov-report=xml --color yes --cov-append --cov-report term-missing
       ##############################################
     name: ${{ matrix.os }}, ${{ matrix.environment-file }}
     runs-on: ${{ matrix.os }}
     timeout-minutes: 30
     strategy:
       matrix:
         os: [ubuntu-latest]
         environment-file:
           - ci/39.yaml
           - ci/310.yaml
           - ci/310-BASE.yaml
           - ci/310-DEV.yaml
           - ci/311.yaml
         include:
           - environment-file: ci/310.yaml
             os: macos-latest
           - environment-file: ci/310.yaml
             os: windows-latest
     
     steps:
       - name: checkout repo
         uses: actions/checkout@v4
       
       - name: setup micromamba
         uses: mamba-org/provision-with-micromamba@main
         with:
           environment-file: ${{ matrix.environment-file }}
           micromamba-version: 'latest'
       
       - name: install bleeding edge libpysal (only Ubuntu / Python 3.9)
         shell: bash -l {0}
         run: pip install git+https://github.com/pysal/libpysal.git@main
         if: matrix.os == 'ubuntu-latest' && contains(matrix.environment-file, 'DEV')
       
       - name: run tests - bash
         shell: bash -l {0}
         run: ${{ env.RUN_TEST }}
         if: matrix.os != 'windows-latest'
       
       - name: run tests - powershell
         shell: powershell
         run: ${{ env.RUN_TEST }}
         if: matrix.os == 'windows-latest'
       
       - name: codecov
         uses: codecov/codecov-action@v4
         with:
           token: ${{ secrets.CODECOV_TOKEN }}
           file: ./coverage.xml
           name: spreg-codecov
