 name: Continuous Integration
 
 on:
   push:
     branches:
     - '*'
   pull_request:
     branches:
     - '*'
   schedule:
     - cron: '59 23 * * *'

 jobs:
   unittests:
     name: ${{ matrix.os }}, ${{ matrix.environment-file }}
     runs-on: ${{ matrix.os }}
     timeout-minutes: 30
     strategy:
       matrix:
         os: [macos-latest, ubuntu-latest]
         ############################################ replace above with this chunk when Windows testing gets worked out
         #os: [macos-latest, ubuntu-latest, windows-latest]
         ############################################
         environment-file: [ci/37.yaml, ci/38.yaml, ci/39.yaml]
         include:
           - environment-file: ci/39-BASE.yaml
             os: ubuntu-latest
           - environment-file: ci/39-DEV.yaml
             os: ubuntu-latest
     
     steps:
       - name: checkout repo
         uses: actions/checkout@v2
       
       - name: setup micromamba
         uses: mamba-org/provision-with-micromamba@main
         with:
           environment-file: ${{ matrix.environment-file }}
           micromamba-version: 'latest'
       
       - name: install bleeding edge libpysal (only Ubuntu / Python 3.9)
         shell: bash -l {0}
         run: pip install git+https://github.com/pysal/libpysal.git@master
         if: matrix.os == 'ubuntu-latest' && contains(matrix.environment-file, 'DEV')
       
       - name: run tests - bash
         shell: bash -l {0}
         run: pytest -v spreg --cov=spreg --cov-config=.coveragerc --cov-report=xml
         ############################################## replace above with this chunk when docstring testing gets worked out
         #run: pytest -v spreg --cov=spreg --doctest-modules --cov-config=.coveragerc --cov-report=xml
         ##############################################
         if: matrix.os != 'windows-latest'
       
       - name: run tests - powershell
         shell: powershell
         run: pytest -v spreg --cov=spreg --cov-config=.coveragerc --cov-report=xml
         ############################################## replace above with this chunk when docstring testing gets worked out
         #run: pytest -v spreg --cov=spreg --doctest-modules --cov-config=.coveragerc --cov-report=xml
         ##############################################
         if: matrix.os == 'windows-latest'
       
       - name: codecov
         uses: codecov/codecov-action@v2.0.1
         with:
           token: ${{ secrets.CODECOV_TOKEN }}
           file: ./coverage.xml
           name: spreg-codecov
